body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
div{
    width: 300px;
    height: 300px;
    border: 1px solid black;
    border-radius: 5px;
    animation: animation 3s ease-out forwards;
}
.botao1{
    animation: botao1 0.5s;
}
@keyframes animation {
    from{
        transform: translateY(-100%);
        opacity: 0;
    }
    to{
        transform: translateY(0%);
    }
}
@keyframes botao1 {
    from{
        transform: translateX(-30%);
        opacity: 0;
    }
    to{
        transform: translateX(0%);
    }
}
.botao2{
    animation: botao2 1.5s;
}
@keyframes botao2 {
    from{
        transform: translateX(-30%);
        opacity: 0;
    }
    to{
        transform: translateX(0%);
    }
}
.botao3{
    animation: botao2 2.5s;
}
@keyframes botao2 {
    from{
        transform: translateX(-30%);
        opacity: 0;
    }
    to{
        transform: translateX(0%);
    }
}
.botao4{
    animation: botao2 3.5s;
}
@keyframes botao2 {
    from{
        transform: translateX(-30%);
        opacity: 0;
    }
    to{
        transform: translateX(0%);
    }
}
.botao5{
    animation: botao2 4.5s;
}
@keyframes botao2 {
    from{
        transform: translateX(-30%);
        opacity: 0;
    }
    to{
        transform: translateX(0%);
    }
}
.botao6{
    animation: botao2 5.5s;
}
@keyframes botao2 {
    from{
        transform: translateX(-30%);
        opacity: 0;
    }
    to{
        transform: translateX(0%);
    }
}
.botao7{
    animation: botao2 6.5s;
}
@keyframes botao2 {
    from{
        transform: translateX(-30%);
        opacity: 0;
    }
    to{
        transform: translateX(0%);
    }
}
.botao8{
    animation: botao2 7.5s;
}
@keyframes botao2 {
    from{
        transform: translateX(-30%);
        opacity: 0;
    }
    to{
        transform: translateX(0%);
    }
}
.botao9{
    animation: botao2 8.5s;
}
@keyframes botao2 {
    from{
        transform: translateX(-30%);
        opacity: 0;
    }
    to{
        transform: translateX(0%);
    }
}
.botao10{
    animation: botao2 9.5s;
}
@keyframes botao2 {
    from{
        transform: translateX(-30%);
        opacity: 0;
    }
    to{
        transform: translateX(0%);
    }
}
.botao11{
    animation: botao2 0.5s;
}
@keyframes botao2 {
    from{
        transform: translateX(-30%);
        opacity: 0;
    }
    to{
        transform: translateX(0%);
    }
}
.botao12{
    animation: botao2 1.5s;
}
@keyframes botao2 {
    from{
        transform: translateX(-30%);
        opacity: 0;
    }
    to{
        transform: translateX(0%);
    }
}
.botao13{
    animation: botao2 2.5s;
}
@keyframes botao2 {
    from{
        transform: translateX(-30%);
        opacity: 0;
    }
    to{
        transform: translateX(0%);
    }
}
.botao14{
    animation: botao2 3.5s;
}
@keyframes botao2 {
    from{
        transform: translateX(-30%);
        opacity: 0;
    }
    to{
        transform: translateX(0%);
    }
}
.botao15{
    animation: botao2 4.5s;
}
@keyframes botao2 {
    from{
        transform: translateX(-30%);
        opacity: 0;
    }
    to{
        transform: translateX(0%);
    }
}
.extra{
    animation: botao2 5.5s;
}
@keyframes botao2 {
    from{
        transform: translateX(-30%);
        opacity: 0;
    }
    to{
        transform: translateX(0%);
    }
}
