body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-image: url(https://media.istockphoto.com/id/1491542521/es/foto/fondo-de-pared-de-ladrillo-negro-oscuro-concreto-%C3%A1spero-piso-de-concreto-enlucido-con-luces.jpg?b=1&s=170667a&w=0&k=20&c=YYcJkSlWHN4NUMDrIa2oi73FSTu1DlAy3vw_NIct7nk=);
    background-repeat: no-repeat;
    background-size: cover;
}
div{
    background-image: url(https://st4.depositphotos.com/13349494/23275/i/450/depositphotos_232755656-stock-photo-grey-shabby-wooden-material-black.jpg);
    display: flex;
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;  
    width: 350px;
    height: 500px;
    border: 1px solid white;
    border-radius: 5px;
    animation: animation 3s ease-out forwards;
    box-shadow: -40px 90px 45px ;
}
h1{
    animation: animation 5s forwards ease-in-out;
    color: aliceblue;
    text-shadow:black -1em 0.7em 0.2em;
    position: absolute;
    bottom: 800px;
}
.botao1{
    animation: botao1 0.5s;
    width: 60px;
    height: 60px;
    font-size: 20px;
}
@keyframes animation {
    from{
        transform: translateY(-100%);
        opacity: 0;
    }
    to{
        transform: translateY(0%);
    }
}
@keyframes botao1 {
    from{
        transform: translateX(-30%);
        opacity: 0;
    }
    to{
        transform: translateX(0%);
    }
}
.botao2{
    animation: botao2 1.5s;
    width: 60px;
    height: 60px;
    font-size: 20px;
}
@keyframes botao2 {
    from{
        transform: translateX(-30%);
        opacity: 0;
    }
    to{
        transform: translateX(0%);
    }
}
.botao3{
    animation: botao2 2.5s;
    width: 60px;
    height: 60px;
    font-size: 20px;
}
@keyframes botao2 {
    from{
        transform: translateX(-30%);
        opacity: 0;
    }
    to{
        transform: translateX(0%);
    }
}
.botao4{
    animation: botao2 3.5s;
    width: 60px;
    height: 60px;
    font-size: 20px;
}
@keyframes botao2 {
    from{
        transform: translateX(-30%);
        opacity: 0;
    }
    to{
        transform: translateX(0%);
    }
}
.botao5{
    animation: botao2 4.5s;
    width: 60px;
    height: 60px;
    font-size: 20px;
}
@keyframes botao2 {
    from{
        transform: translateX(-30%);
        opacity: 0;
    }
    to{
        transform: translateX(0%);
    }
}
.botao6{
    animation: botao2 0.5s;
    width: 60px;
    height: 60px;
    font-size: 20px;
}
@keyframes botao2 {
    from{
        transform: translateX(-30%);
        opacity: 0;
    }
    to{
        transform: translateX(0%);
    }
}
.botao7{
    animation: botao2 1.5s;
    width: 60px;
    height: 60px;
    font-size: 20px;
}
@keyframes botao2 {
    from{
        transform: translateX(-30%);
        opacity: 0;
    }
    to{
        transform: translateX(0%);
    }
}
.botao8{
    animation: botao2 2.5s;
    width: 60px;
    height: 60px;
    font-size: 20px;
}
@keyframes botao2 {
    from{
        transform: translateX(-30%);
        opacity: 0;
    }
    to{
        transform: translateX(0%);
    }
}
.botao9{
    animation: botao2 3.5s;
    width: 60px;
    height: 60px;
    font-size: 20px;
}
@keyframes botao2 {
    from{
        transform: translateX(-30%);
        opacity: 0;
    }
    to{
        transform: translateX(0%);
    }
}
.botao10{
    animation: botao2 4.5s;
    width: 60px;
    height: 60px;
    font-size: 20px;
}
@keyframes botao2 {
    from{
        transform: translateX(-30%);
        opacity: 0;
    }
    to{
        transform: translateX(0%);
    }
}
.botao11{
    animation: botao2 0.5s;
    width: 60px;
    height: 60px;
    font-size: 20px;
}
@keyframes botao2 {
    from{
        transform: translateX(-30%);
        opacity: 0;
    }
    to{
        transform: translateX(0%);
    }
}
.botao12{
    animation: botao2 1.5s;
    width: 60px;
    height: 60px;
    font-size: 20px;
}
@keyframes botao2 {
    from{
        transform: translateX(-30%);
        opacity: 0;
    }
    to{
        transform: translateX(0%);
    }
}
.botao13{
    animation: botao2 2.5s;
    width: 60px;
    height: 60px;
    font-size: 20px;
}
@keyframes botao2 {
    from{
        transform: translateX(-30%);
        opacity: 0;
    }
    to{
        transform: translateX(0%);
    }
}
.botao14{
    animation: botao2 3.5s;
    width: 60px;
    height: 60px;
    font-size: 20px;
}
@keyframes botao2 {
    from{
        transform: translateX(-30%);
        opacity: 0;
    }
    to{
        transform: translateX(0%);
    }
}
.botao15{
    animation: botao2 4.5s;
    width: 60px;
    height: 60px;
    font-size: 20px;
}
@keyframes botao2 {
    from{
        transform: translateX(-30%);
        opacity: 0;
    }
    to{
        transform: translateX(0%);
    }
}
.EXTRA{
    animation: botao2 5.5s;
    width: 60px;
    height: 60px;
}
@keyframes botao2 {
    from{
        transform: translateX(-30%);
        opacity: 0;
    }
    to{
        transform: translateX(0%);
    }
}
