body{
    width: auto;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    width: 70vh;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.qua1{
    width: 200px;
    height: 200px;
    border: 1px solid black;
    animation: ANIMATION 2s infinite 1s;
}
.qua2{
    width: 200px;
    height: 200px;
    border: 1px solid black;
    animation: ANIMATION 2s infinite 4s;
}
.qua3{
    width: 200px;
    height: 200px;
    border: 1px solid black;
    animation: ANIMATION 2s infinite 7s;
}
@keyframes ANIMATION {
    0%{
       transform: translateY(0%);
    }
    25%{
        transform: translateY(-100%);
    }
    50%{
        transform: translateY(0%);
    }
    75%{
        transform: translateY(100%);
    }
    100%{
        transform: translateY(0%);
    }
}
.botao {
    position: absolute;
    bottom: 10px; 
}

.botao button {
    padding: 10px 20px;
    font-size: 15px;
    background-color: white;
    color: black;
    border: 2px solid black;
    border-radius: 5px;
    cursor: pointer;
}

.botao button:hover {
    background-color: crimson;
}


