body{
    width: auto;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.atv{
    width: 200px;
    height: 200px;
    border: 1px solid black;
    animation: quadrado 1s infinite;
}
@keyframes quadrado {
    0%{
        transform: scale(1) rotate(0deg);
    }  
    50%{
        transform: scale(2) rotate(180deg);
    }
    100%{
        transform: scale(1) rotate(360deg);
    }
}
.botao {
    position: absolute;
    bottom: 10px; 
}

.botao button {
    padding: 10px 20px;
    font-size: 15px;
    background-color: white;
    color: black;
    border: 2px solid black;
    border-radius: 5px;
    cursor: pointer;
}

.botao button:hover {
    background-color: crimson;
}
