body{
    width: auto;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
div{
    background-color: chocolate;
    border: 1px solid black;
    border-radius: 100px;
    width: 200px;
    height: 200px;
    animation: animação 4s ;
}
@keyframes animação {  
    to{

    } 
    from{
        margin-right: 500px;
    }
}