body{
    width: auto;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
div{
    width: 200px;
    height: 200px;
    border: 1px solid black;
    animation: animação 3s ease;
    position: relative;
}
@keyframes animação {
    from{
        transform: rotate(0deg);
    }
    to{
       transform: rotate(45deg);
    }
    45%
}