body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: hidden;
}
.atv{
    width: 200px;
    height: 200px;
    border: 1px solid black;
    animation: animação 4s infinite linear;
}
@keyframes animação {
    0%{
        transform: rotate(0deg);
        background-color: burlywood;
    }
    12.5%{
        background-color: gray;
    }
    25%{
        background-color: aquamarine;
    }
    37.5%{
        background-color: blueviolet;
    }
    50%{
        background-color: brown;
    }
    62.5%{
        background-color: chartreuse;
    }
    75%{
        background-color: blue;
    }
    87.5%{
        background-color: coral;
    }
    100%{
        background-color: darkgreen;
        transform: rotate(360deg);
    }
}
.botao {
    position: absolute;
    bottom: 10px; 
}

.botao button {
    padding: 10px 20px;
    font-size: 15px;
    background-color: white;
    color: black;
    border: 2px solid black;
    border-radius: 5px;
    cursor: pointer;
}

.botao button:hover {
    background-color: crimson;
}
