body{
    width: auto;
    height: 100vh;
    overflow-y: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.atv{
    background-color: crimson;
    width: 100px;
    height: 100px;
    border: 1px solid black;
    border-radius: 50%;
    animation: pulsar 2s linear infinite alternate;
}
@keyframes pulsar {
    0%{
        background-color: red;
        width: 100px;
        height: 100px;
    }
    100%{
        background-color: darkred;
        width: 200px;
        height: 200px;
    }
}
.botao {
    position: absolute;
    bottom: 10px; 
}

.botao button {
    padding: 10px 20px;
    font-size: 15px;
    background-color: white;
    color: black;
    border: 2px solid black;
    border-radius: 5px;
    cursor: pointer;
}

.botao button:hover {
    background-color: crimson;
}

